<% var data = {
  title: "Expirenza",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="cases">
  <div class="cases__list">
    <div class="cases__item cases__item--headline">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>MIMOZA BROOKLYN PIZZA</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>

    <div class="cases__item">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>КиТАЙСКИЙ ПРИВЕТ</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>

    <div class="cases__item">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>БЕССАРАБСКИЙ РЫНОК</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>

    <div class="cases__item">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>Кураж</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>

    <div class="cases__item">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>БЕССАРАБСКИЙ РЫНОК</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>

    <div class="cases__item">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>Медиком</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>

    <div class="cases__item">
      <figure class="cases__image">
        <img src="images/pizza.png" alt="">
      </figure>
      <div class="cases__content">
        <h2>БЕТОН ОТ КОВАЛЬСКОЙ</h2>
      </div>
      <div class="cases__show">
        <a href="case.html" class="more">Посмотреть кейс →</a>
      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/clients.html'))(data) %>

<%= _.template(require('./../includes/connect.html'))(data) %>

<%= _.template(require('./../includes/call.html'))(data) %>


<%= _.template(require('./../includes/footer.html'))(data) %>