<% var data = {
  title: "Expirenza",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__text">
        <h3>Узнай о проблемах раньше чем Facebook</h3>
        <p>Expirenza — cовременный сервис обратной связи для бизнеса</p>
        <a href="" class="hero__try">Попробовать</a>
      </div>
      <div class="hero__animation">
        <%= _.template(require('./../includes/lottie.html'))(data) %>
      </div>
    </div>
  </div>
</section>

<section class="oppo">
  <div class="container">
    <div class="oppo__title">Возможности</div>

    <div class="oppo__slider">
      <div class="oppo__slide">
        <div class="oppo__slide-content">
          <div class="oppo__slide-text">
            <h3>Личный ответ по SMS</h3>
            *(неограниченное колличество)
          </div>
          <div class="oppo__slide-image">
            image
          </div>
        </div>
      </div>

      <div class="oppo__slide">
        <div class="oppo__slide-content">
          <div class="oppo__slide-text">
            <h3>Всё понимает </h3>
            Ваши клиенты могут оставить отзыв с фото, видео и даже аудио
          </div>
          <div class="oppo__slide-image">
            image
          </div>
        </div>
      </div>

      <div class="oppo__slide">
        <div class="oppo__slide-content">
          <div class="oppo__slide-text">
            <h3>Всегда на связи</h3>
            Расписать про уведомления в чат-бот
          </div>
          <div class="oppo__slide-image">
            image
          </div>
        </div>
      </div>

      <div class="oppo__slide">
        <div class="oppo__slide-content">
          <div class="oppo__slide-text">
            <h3>Держит в курсе</h3>
            Возможности админки отчёты, ответы клиентам, аналитика
          </div>
          <div class="oppo__slide-image">
            image
          </div>
        </div>
      </div>

      <div class="oppo__slide">
        <div class="oppo__slide-content">
          <div class="oppo__slide-text">
            <h3>Дополнительные возможности</h3>
            промо-коды/сертификаты, NPS, голосовые уведомления, система скидок 
          </div>
          <div class="oppo__slide-image">
            image
          </div>
        </div>
      </div>

      <div class="oppo__slide">
        <div class="oppo__slide-content">
          <div class="oppo__slide-text">
            <h3>Сертификаты</h3>
            промо-коды/сертификаты, NPS, голосовые уведомления, система скидок 
          </div>
          <div class="oppo__slide-image">
            image
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="free">
  <div class="container">
    <div class="free__content">
      <div class="free__text">
        <h3>Попробовать бесплатно</h3>
        14 дней + unlimited sms
      </div>
      <div class="free__form">
        <form action="">
          <input type="text" name="" placeholder="Введите ваш email">
          <button type="submit">Попробовать сейчас</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="why">
  <div class="container">
    <h3>Почему Expirenza?</h3>

    <div class="why__content">
      <div class="why__item">
        <figure>
          <img src="/images/why-qr.svg" width="72" height="128" alt="">
        </figure>
        Не нужно устанавливать приложение, только<br> считать QR-код
      </div>
      <div class="why__item">
        <figure>
          <img src="/images/why-bubble.svg" width="180" height="103" alt="">
        </figure>
        Мгновенная связь клиент-руководитель
      </div>
      <div class="why__item">
        <figure>
          <img src="/images/why-24.svg" width="132" height="134" alt="">
        </figure>
        Запуск в работу уже сегодня
      </div>
    </div>
  </div>
</section>

<section class="analytics">
  <h3>Expirenza аналитика</h3>
  <div class="analytics__box">
      <span class="analytics__text-1">График активности</span>
      <span class="analytics__text-2">Общие отчёты</span>
      <span class="analytics__text-3">Отчёты NPS</span>
      <span class="analytics__text-4">Отчёты Промо-коды</span>
  </div>
</section>

<section class="price">
  <h3>Тарифы</h3>
  <div class="price__content">
    <div class="price__item">
      <div class="price__name">Фермер</div>
      <div class="price__cost">
          <span>1500</span> <small>грн / месяц<br>локация</small>
      </div>
      <div class="price__benefits">
        Unlimited SMS <br>
        Text & photo<br>
        Analytics<br>
        Telegram bot<br>
        Gifts Coupon system
      </div>
      <a href="" class="price__try">Попробовать</a>
    </div>

    <div class="price__item">
      <div class="price__name">Охотник</div>
      <div class="price__cost">
          <span>2500</span> <small>грн / месяц<br>локация</small>
      </div>
      <div class="price__benefits">
        Unlimited SMS<br>
        Text & photo<br>
        Video & audio<br>
        Analytics<br>
        Telegram bot<br>
        Gifts Coupon system<br>
        Personal operator<br>
        Sms рассылка
      </div>
      <a href="" class="price__try">Попробовать</a>
    </div>
  </div>
</section>

<section class="clients">
  <h3>Удерживают клиентов с нами</h3>
  <div class="container">
    <div class="clients__list">
      <div class="client">
        <img src="/images/medokom-logo.svg" width="86" height="28" alt="">
      </div>
      <div class="client">
        <img src="/images/iqos-logo.svg" width="106" height="28" alt="">
      </div>
      <div class="client">
        <img src="/images/vdnh-logo.svg" width="40" height="72" alt="">
      </div>
      <div class="client">
        <img src="/images/citrus-logo.svg" width="110" height="28" alt="">
      </div>
      <div class="client">
        <img src="/images/m-logo.svg" width="32" height="32" alt="">
      </div>
      <div class="client">
        <img src="/images/kurazh-logo.svg" width="77" height="40" alt="">
      </div>
    </div>

  </div>
</section>

<section class="video">
  <div class="container">
    <div class="video__wrapper">
      <iframe width="100%" height="" src="https://www.youtube.com/embed/1-HJ-zHiWKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="free">
  <div class="container">
    <div class="free__content">
      <div class="free__text">
        <h3>Попробовать бесплатно</h3>
        14 дней + unlimited sms
      </div>
      <div class="free__form">
        <form action="">
          <input type="text" name="" placeholder="Введите ваш email">
          <button type="submit">Попробовать сейчас</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>