<% var data = {
  title: "Expirenza",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="hero">
  <img src="images/hero-heart.svg" alt="" width="525" height="420">
  <img src="images/hero-text.svg" alt="" width="668" height="198">

  <div class="hero__text">
    Мы <b>expirenza</b> — мостик к сердцу и глазам вашего гостя, который помогает быстро реагировать на впечатления клиентов, до того, как они захотят написать плохой отзыв в социальных сетях или вовсе решат не&nbsp;возвращаться
  </div>
</section>

<section class="how-it-works">
  <div class="how-it-works__item how-it-works__item--1">
    <figure class="how-it-works__image">
      <img src="images/how-1.png" alt="">
    </figure>
    <h2 class="how-it-works__title">Узнавай</h2>
    <div class="how-it-works__text">прямиком от клиента о всехнедочетах своего заведения: была ли у него муха в салате, хамил ли официант Анатолий, ну и все ли ему&nbsp;понравилось</div>
    <a href="product.html" class="more">Больше о продукте →</a>
  </div>

  <div class="how-it-works__item how-it-works__item--2">
    <figure class="how-it-works__image">
      <img src="images/how-2.png" alt="">
    </figure>
    <h2 class="how-it-works__title">Наблюдай</h2>
    <div class="how-it-works__text">за всеми комментариями и отзывами клиентов в одном кабинете со всех социальных площадок. Никаких больше 30-ти уведомлений в десяти рабочих&nbsp;чатах</div>
    <a href="product.html" class="more">Больше о продукте →</a>
  </div>

  <div class="how-it-works__item how-it-works__item--3">
    <figure class="how-it-works__image">
      <img src="images/how-3.png" alt="">
    </figure>
    <h2 class="how-it-works__title">РАССКАЗЫВАЙ</h2>
    <div class="how-it-works__text">о хороших отзывах из expirenza о вашем нееереально вкусном тирамису пофамильному рецепту шеф-повара во всех социальных сетях заведения и в trip advisor тоже, заслужили&nbsp;ведь!</div>
    <a href="product.html" class="more">Больше о продукте →</a>
  </div>

  <div class="how-it-works__item how-it-works__item--4">
    <figure class="how-it-works__image">
      <img src="images/how-4.png" alt="">
    </figure>
    <h2 class="how-it-works__title">Спрашивай</h2>
    <div class="how-it-works__text">любые вопросы у своих клиентов, отправляй им детальные анкеты, получай ответы, которые улучшат ситуацию и все это без сложностей с трехэтажными таблицами&nbsp;в&nbsp;Excel</div>
    <a href="product.html" class="more">Больше о продукте →</a>
  </div>

  <div class="how-it-works__item how-it-works__item--5">
    <figure class="how-it-works__image">
      <img src="images/how-5.png" alt="">
    </figure>
    <h2 class="how-it-works__title">Взаимодействуй</h2>
    <div class="how-it-works__text">со своими клиентами в интерактивные простые игры и небанально поощряй их за активность, а сам получай полезную аналитику в рабочем кабинете&nbsp;expirenza</div>
    <a href="product.html" class="more">Больше о продукте →</a>
  </div>

  <div class="how-it-works__item how-it-works__item--6">
    <figure class="how-it-works__image">
      <img src="images/how-6.png" alt="">
    </figure>
    <h2 class="how-it-works__title">Оценивай</h2>
    <div class="how-it-works__text">работу каждого сотрудника через простую систему чаевых. Клиенту больше не нужно искать наличные, а с привязанной картой официанта легко понять кого твои клиенты любят&nbsp;сильнее </div>
    <a href="product.html" class="more">Больше о продукте →</a>
  </div>
</section>

<%= _.template(require('./../includes/reviews.html'))(data) %>

<%= _.template(require('./../includes/clients.html'))(data) %>

<%= _.template(require('./../includes/connect.html'))(data) %>

<%= _.template(require('./../includes/call.html'))(data) %>


<%= _.template(require('./../includes/footer.html'))(data) %>