<% var data = {
  title: "Expirenza",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="sub-hero">
  <div class="sub-hero__container">
    <h2>А что цены? Ну цены как цены, выбирай:</h2>
    до того, как они захотят написать плохой отзыв в социальных сетях или вовсе решат не возвращаться
  </div>
</section>

<%= _.template(require('./../includes/price.html'))(data) %>

<section class="faq">
  <div class="faq__container">
    
    <div class="c-accordion">
      <div class="c-accordion__item">
        <h4 class="c-accordion__title">А как это все работает?</h4>
        <div class="c-accordion__content">
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
        </div>
      </div>
      <div class="c-accordion__item">
        <h4 class="c-accordion__title">Почему так много негатива?</h4>
        <div class="c-accordion__content">
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
        </div>
      </div>
      <div class="c-accordion__item">
        <h4 class="c-accordion__title">Когда вернутся инвестиции?</h4>
        <div class="c-accordion__content">
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
        </div>
      </div>
      <div class="c-accordion__item">
        <h4 class="c-accordion__title">Кто за все ответит?</h4>
        <div class="c-accordion__content">
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
        </div>
      </div>
      <div class="c-accordion__item">
        <h4 class="c-accordion__title">Почему не покупают еду?</h4>
        <div class="c-accordion__content">
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
            <p>Перечень пригородных поездов, которые восстановят движение с 1 июня, уже в ближайшее время появится на официальных сайтах региональных филиалов Укрзалізниці, добавил руководитель компании</p>
        </div>
      </div>
    </div>
    
  </div>
</section>

<%= _.template(require('./../includes/clients.html'))(data) %>

<%= _.template(require('./../includes/connect.html'))(data) %>

<%= _.template(require('./../includes/call.html'))(data) %>


<%= _.template(require('./../includes/footer.html'))(data) %>