<% var data = {
  title: "Expirenza",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="product-hero" style="background-color: #FFDFDE;">
  <div class="product-hero__container">
    <figure>
      <img src="images/how-1.png" alt="">
    </figure>
    <div class="product-hero__text">
      <b>Узнавай</b> прямиком от клиента о всех недочетах своего заведения: была ли у него муха в салате, хамил ли официант Анатолий, ну и все ли ему понравилось
    </div>
  </div>
</section>

<section class="product-features">
  <div class="product-features__list">
    <div class="product-features__item">
      <figure class="product-features__image">
        <img src="images/feature.png" alt="">
      </figure>
      <div class="product-features__text">
        <h2>Собирай отзывы через Qr-code в любых точках контакта</h2>
        Разместите qr-code с интересующим вас вопросом в точках контакта с клиентами, например, спросите довольны ли гости работой кухни вашего ресторана, нравится ли им новые кабинеты в больнице, достаточно ли чисто в уборной вашего бара и получайте быстрые ответы на ваш телефон.
      </div>
    </div>
    <div class="product-features__item">
      <figure class="product-features__image">
        <img src="images/feature.png" alt="">
      </figure>
      <div class="product-features__text">
        <h2>Собирай отзывы через Qr-code в любых точках контакта</h2>
        Разместите qr-code с интересующим вас вопросом в точках контакта с клиентами, например, спросите довольны ли гости работой кухни вашего ресторана, нравится ли им новые кабинеты в больнице, достаточно ли чисто в уборной вашего бара и получайте быстрые ответы на ваш телефон.
      </div>
    </div>
    <div class="product-features__item">
      <figure class="product-features__image">
        <img src="images/feature.png" alt="">
      </figure>
      <div class="product-features__text">
        <h2>Собирай отзывы через Qr-code в любых точках контакта</h2>
        Разместите qr-code с интересующим вас вопросом в точках контакта с клиентами, например, спросите довольны ли гости работой кухни вашего ресторана, нравится ли им новые кабинеты в больнице, достаточно ли чисто в уборной вашего бара и получайте быстрые ответы на ваш телефон.
      </div>
    </div>
    <div class="product-features__item">
      <figure class="product-features__image">
        <img src="images/feature.png" alt="">
      </figure>
      <div class="product-features__text">
        <h2>Собирай отзывы через Qr-code в любых точках контакта</h2>
        Разместите qr-code с интересующим вас вопросом в точках контакта с клиентами, например, спросите довольны ли гости работой кухни вашего ресторана, нравится ли им новые кабинеты в больнице, достаточно ли чисто в уборной вашего бара и получайте быстрые ответы на ваш телефон.
      </div>
    </div>
    <div class="product-features__item">
      <figure class="product-features__image">
        <img src="images/feature.png" alt="">
      </figure>
      <div class="product-features__text">
        <h2>Собирай отзывы через Qr-code в любых точках контакта</h2>
        Разместите qr-code с интересующим вас вопросом в точках контакта с клиентами, например, спросите довольны ли гости работой кухни вашего ресторана, нравится ли им новые кабинеты в больнице, достаточно ли чисто в уборной вашего бара и получайте быстрые ответы на ваш телефон.
      </div>
    </div>
    <div class="product-features__item">
      <figure class="product-features__image">
        <img src="images/feature.png" alt="">
      </figure>
      <div class="product-features__text">
        <h2>Собирай отзывы через Qr-code в любых точках контакта</h2>
        Разместите qr-code с интересующим вас вопросом в точках контакта с клиентами, например, спросите довольны ли гости работой кухни вашего ресторана, нравится ли им новые кабинеты в больнице, достаточно ли чисто в уборной вашего бара и получайте быстрые ответы на ваш телефон.
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/reviews.html'))(data) %>

<section class="sub-hero">
  <div class="sub-hero__container">
    <h2>А что цены? Ну цены как цены, выбирай:</h2>
    до того, как они захотят написать плохой отзыв в социальных сетях или вовсе решат не возвращаться
  </div>
</section>

<%= _.template(require('./../includes/price.html'))(data) %>

<%= _.template(require('./../includes/connect.html'))(data) %>

<%= _.template(require('./../includes/call.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>