@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import '~swiper/swiper-bundle.css';


//@import "~bootstrap/scss/bootstrap";

@mixin mobile {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

button, input {
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  margin: 0;
  padding-top: 8rem;

  @include mobile {
    padding-top: 5.5rem;
  }

  &[data-menu] {
    .header__content {
      display: flex;
    }
  }
}

.container {

}

.footer {
  background: #252525;
  padding: 20rem 2rem;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  z-index: 1;

  @include mobile {
    padding: 10rem 2rem 3rem;
  }

  &__container {
    max-width: 70rem;
    margin: 0 auto;
  }

  &__menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 3rem;
    text-align: center;
    display: none;

    @include mobile {
      display: block;
    }

    a {
      color: #fff;
      font-weight: 600;
      line-height: 1.2;
      text-decoration: none;
      display: inline-block;
      border-left: solid 1px #5a5a5a;
      margin: 0 0.5rem;
      padding-left: 1.4rem;

      &:first-child {
        border: none;
        padding-left: 0;
      }
    }
  }

  &__expirenza {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    text-align: center;

    @include mobile {
      display: none;
    }

    a {
      display: inline-block;
      overflow: hidden;
      text-indent: -9999px;
      width: 19.5rem;
      height: 3rem;
      background: url(../images/exp-dimmed.svg) no-repeat left center;
      background-size: contain;
      position: relative;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: -1px;
        width: 3rem;
        height: 3rem;
        background: url(../images/heart-dimmed.svg) no-repeat center center;
      }
    }
  }

  &__social {
    padding-bottom: 4rem;

    a {
      display: inline-block;
      width: 4.6rem;
      height: 4.6rem;
      margin: 0 2rem;
      overflow: hidden;
      text-indent: -999999px;
      background-color: transparent;
      background-position: none;
      background-repeat:none;
      background-size: cover;

      &.facebook {
        background-image: url(../images/fb.svg);
      }

      &.telegram {
        background-image: url(../images/telegram.svg);
      }

      &.youtube {
        background-image: url(../images/youtube.svg);
        width: 6.6rem;
      }

      &.instagram {
        background-image: url(../images/instagram.svg);
      }
    }
  }
}

.header {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  padding: 0 3rem;
  height: 8rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

  @include mobile {
    padding: 0 2rem;
    height: 5.5rem;

    .connect-me {
      display: none;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__close {
    display: none;

    width: 6.8rem;
    height: 6.8rem;
    line-height: 6.8rem;
    background: #fff;
    border-radius: 100%;
    color: #000;
    font-size: 9rem;
    text-align: center;
    cursor: pointer;

    @include mobile {
      display: inline-block;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @include mobile {
      display: none;

      position: fixed;
      z-index: 100;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #000;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__logo {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    width: 28rem;
    height: 4.4rem;
    background: url(../images/logo.svg) no-repeat right center;
    background-size: contain;
    position: relative;

    @include mobile {
      zoom: 0.7;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      width: 3rem;
      height: 3rem;
      background: url(../images/heart.svg) no-repeat center center;
    }
  }

  &__navigation {
    a, span {
      display: inline-block;
      text-decoration: none;
      color: #000;
      font-size: 1.8rem;
      margin-right: 4.5rem;

      @include mobile {
        font-size: 4rem;
        color: #fff;
        margin: 0 0 1rem;
        display: block;
        text-align: center;
      }

      &.current {
        font-weight: bold;
        text-decoration: none !important;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__language {
    margin-right: 4.5rem;
    position: relative;
    border: 1px solid #D5D5D5;
    border-radius: 4px;

    &:hover {
      border-color: darkgrey;
    }

    @include mobile {
      display: block;
      width: 100px;
      margin-right: 0;
      margin-bottom: 7rem;
      margin-top: 4rem;
    }
    

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 27px;
      background: #fff url(../images/lang.svg) no-repeat center center;
      pointer-events: none;
    }

    select {
      font-family: 'Montserrat', sans-serif;
      width: 100%;
      height: 4.9rem;
      -webkit-appearance: none;
      background: transparent;
      border: none;
      cursor: pointer;
      color: #000;
      font-size: 16px;
      outline: none;
      padding-left: 1rem;
      padding-right: 2.8rem;

      @include mobile {
        color: #fff;
        font-size: 1.9rem;
      }

      option {
        color: #000;
      }
    }
  }

  &__mobile-menu {
    width: 5.4rem;
    padding: 1rem 1.4rem;
    margin-right: -1.4rem;
    cursor: pointer;
    display: none;

    @include mobile {
      display: block;
    }

    span {
      display: block;
      background: #000;
      height: 4px;
      margin: 4px 0;
    }
  }
}

.connect-me {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  background: linear-gradient(180deg, #54DE00 0%, #54DE00 100%);
  box-shadow: 0px 15px 50px rgba(0, 66, 145, 0.4);
  border-radius: 8px;

  &:hover {
    background: darken(#54DE00, 4%);
  }
}


.hero {
  text-align: center;
  margin-bottom: 6rem;
  padding: 0 2rem;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  &__text {
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
    font-size: 2.2rem;
  }
}

.how-it-works {
  //border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  max-width: 160rem;
  margin: 0 auto 10rem;
  padding: 0 2rem;

  @include mobile {
    flex-direction: column;
    padding: 0;
  }

  &__item {
    //border: solid 1px blue;
    width: 50%;
    text-align: center;
    padding: 5rem 5rem 6rem;

    @include mobile {
      width: 100%;
    }

    &--1 {
      background: #FFDFDE;
      border-radius: 30px 0px 0px 0px;
      
      @include mobile { border-radius: 0; }
    }

    &--2 {
      background: #FEFFCB;
      border-radius: 0 30px 0px 0px;

      @include mobile { border-radius: 0; }
    }

    &--3 {
      background: #E5F3FF;
    }

    &--4 {
      background: #EEE5FF;
    }

    &--5 {
      background: #EDFFC8;
      border-radius: 0px 0px 0px 30px;

      @include mobile { border-radius: 0; }
    }

    &--6 {
      background: #FFE5F6;
      border-radius: 0px 0px 30px 0px;

      @include mobile { border-radius: 0; }
    }
  }

  &__title {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__text {
    max-width: 55rem;
    margin: 0 auto 3rem;
  }

  &__image {
    //border: solid 1px red;
    margin: 0 auto 2rem;
    height: 39rem;
    max-width: 51rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      //width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: contain;
      //border: solid 1px green;
    }
  }
}

.more {
  border: 1px solid #000000;
  border-radius: 6px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.9rem 2rem 0.8rem;
}

.connect {
  padding: 2rem 2rem 20rem;
  overflow: hidden;

  @include mobile {
    padding-bottom: 10rem;
  }

  &__content {
    max-width: 100rem;
    margin: 0 auto;
    background: #FFE5EA url(../images/heart.svg) no-repeat center 8rem;
    background-size: 15.6rem 13.9rem;
    border-radius: 16px;
    padding: 26rem 10rem 12rem;
    position: relative;
    font-size: 2.2rem;
    text-align: center;
    min-height: 60rem;

    @include mobile {
      background: #FFE5EA;
      padding: 3rem;
      min-height: 1rem;
      font-size: 1.6rem;

      h2 {
        font-size: 2.4rem;
        margin-top: 0;
      }
    }

    .connect-me {
      position: absolute;

      &--main {
        width: 72rem;
        left: 50%;
        bottom: -6rem;
        margin-left: -36rem;
        font-size: 4.5rem;
        padding: 3rem;
        border-radius: 26px;

        @include mobile {
          position: relative;
          display: block;
          bottom: auto;
          left: auto;
          margin: 4rem auto 0;
          width: 100%;
          font-size: 1.8rem;
          padding: 2rem;
          border-radius: 1rem;
        }
      }

      &--1 {
        left: -20rem;
        bottom: 10rem;
        zoom: 0.9;

        @include mobile {
          display: none;
        }
      }

      &--2 {
        left: 20rem;
        bottom: 72rem;
        zoom: 0.5;

        @include mobile {
          display: none;
        }
      }

      &--3 {
        left: -12rem;
        top: 4rem;
        zoom: 1.5;

        @include mobile {
          display: none;
        }
      }

      &--4 {
        right: 16rem;
        top: -3rem;
        zoom: 0.6;

        @include mobile {
          display: none;
        }
      }

      &--5 {
        right: -16rem;
        top: 13rem;
        zoom: 1.2;

        @include mobile {
          display: none;
        }
      }

      &--6 {
        right: -24rem;
        bottom: 30rem;
        zoom: 0.7;

        @include mobile {
          display: none;
        }
      }
    }
  }


  h2 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.3;
  }
}

.clients {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 14rem;

  @include mobile {
    margin-bottom: 5rem;
  }

  .clients-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 3rem;

    @include mobile {
      flex-wrap: wrap;
    }

    &__item {
      cursor: pointer;
      margin: 0 1rem 1rem;
      border-bottom: solid 2px transparent;

      &.selected {
        font-weight: bold;
        border-bottom: solid 2px #000;
      }
    }
  }

  .clients-list {
    max-width: 110rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 25%;
      margin-bottom: 2rem;

      @include mobile {
        width: 50%;
      }
    }

    &__image {
      margin: 0 auto;
      padding: 1.6rem;
      height: 16rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.reviews {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 15rem;

  @include mobile {
    margin-bottom: 6rem;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 900;
  }

  &__holder {
    position: relative;
    max-width: 120rem;
    margin: 0 auto;

    @include mobile {
      max-width: 100rem;
    }
  }

  .reviews-slider {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0;
    border-radius: 16px;

    @include mobile {
      padding: 0 0 4rem;
    }

    &__wrapper {
      
    }

    .more {
      color: #fff;
      border-color: #fff;
    }

    &__slide {
      position: relative;
      //border-radius: 16px;
      overflow: hidden;
      color: #fff;
      

      img {
        max-width: 100%;
        border-radius: 16px;
      }

      @include mobile {
        border-radius: 16px;
      }
    }

    &__content {
      padding: 5rem 7rem;

      @include mobile {
        padding: 4rem;
      }
    }

    &__bg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
      margin: 0;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        object-fit: cover;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #000;
        opacity: 0.75;
      }
    }

    &__userpic {
      width: 14rem;
      height: 14rem;
      margin: auto;
      overflow: hidden;
      border-radius: 100%;
      margin-bottom: 2rem;
    }

    &__text {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      line-height: 1.3;

      @include mobile {
        font-size: 1.8rem;
      }
    }

    &__owner {
      margin-bottom: 4rem;
    }

    &__pagination {
      bottom: 0;
      display: none;

      @include mobile {
        display: block;
      }

      .swiper-pagination-bullet-active {
        background: #000;
      }

    }

    &__prev {
      left: 0;
      width: 5.4rem;
      height: 5.4rem;
      background: url(../images/next.svg) no-repeat center center;
      background-size: cover;
      transform: rotate(180deg);

      @include mobile {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    &__next {
      right: 0;
      width: 5.4rem;
      height: 5.4rem;
      background: url(../images/next.svg) no-repeat center center;
      background-size: cover;

      @include mobile {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }
}

.callback {
  text-align: center;
  padding: 0 2rem;
  font-size: 2.2rem;
  margin-bottom: 20rem;

  @include mobile {
    margin-bottom: 8rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 1.3;
    font-weight: 900;
    margin: 0;
  }

  p {
    margin: 0;
  }

  &__userpic {
    padding: 0;
    margin: 0 0 2rem;
  }

  &__form {
    max-width: 70rem;
    margin: 3rem auto 0;
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    input {
      border: 1px solid #9f9f9f;
      border-radius: 8px;
      height: 8rem;
      text-align: center;
      font-size: 5rem;
      padding: 0 2rem;
      margin-right: 1rem;
      flex: 1;

      @include mobile {
        margin: 0 0 2rem;
        padding: 1rem;
      }

      &::placeholder {
        color: #ececec;
      }
    }

    button {
      display: block;
      height: 8rem;
      width: 30rem;
      background: #54DE00 url(../images/call.svg) no-repeat center center;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      text-indent: -99999px;

      &:hover {
        background: darken(#54DE00, 4%) url(../images/call.svg) no-repeat center center;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}

.cases {
  padding: 0 2rem;


  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 140rem;
    margin: 2rem auto 15rem;

    @include mobile {
      margin: 0 -1rem 7rem;
    }
  }

  h2 {
    font-size: 4.8rem;
    line-height: 1.2;
    text-transform: uppercase;

    @include mobile {
      font-size: 2.4rem;
    }
  }

  &__item {
    width: 50%;
    overflow: hidden;
    border: solid 10px #fff;
    border-radius: 12px;
    position: relative;
    height: 68rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: 34rem;
      width: 100%;
    }

    &--headline {
      width: 100%;
      flex-direction: column;

      &:after {
        content: "new";
        position: absolute;
        right: 0;
        top: 0;
        background: red;
        color: #fff;
        border-radius: 0 12px 0 4px;
        font-size: 2rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        text-transform: uppercase;

        @include mobile {
          font-size: 1.4rem;
        }
      }

      h2 {
        font-size: 7rem;
        margin: 2rem;

        @include mobile {
          font-size: 2.4rem;
        }
      }

      .cases__show {
        position: relative;
        bottom: 0;

        @include mobile {
          position: absolute;
          bottom: 4rem;
        }
      }
    }

    .more {
      color: #fff;
      border-color: #fff;
      font-size: 1.6rem;

      @include mobile {
        font-size: 1.2rem;
      }
    }
  }

  &__content {
    padding: 0 3rem;
    text-align: center;
  }

  &__show {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4rem;
    text-align: center;
  }

  &__image {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    border-radius: 12px;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      object-fit: cover;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #000;
      opacity: 0.75;
    }
  }
}

.numbers {
  padding: 0 2rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;
    background: #F7EEEE;
    padding: 4rem 0;
    border-radius: 12px;
    margin-bottom: 2rem;
    text-align: center;

    @include mobile {
      padding-bottom: 0;
    }

    h2 {
      margin-top: 0;
      padding: 0 2rem;
      font-size: 3.2rem;
      line-height: 1.3;
      margin-bottom: 5rem;
    }
  }

  &__list {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    width: 33.3333%;
    padding: 0 3rem;

    @include mobile {
      width: 100%;
      margin-bottom: 5rem;
    }

    h3 {
      font-weight: 300;
      font-size: 10rem;
      line-height: 1;
      margin: 0 0 2rem;
    }
  }
}

.quote {
  padding: 0 2rem;
  margin-bottom: 10rem;

  @include mobile {
    margin-bottom: 5rem;
  }

  &__container {
    max-width: 75rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2.4rem;

    @include mobile {
      font-size: 1.6rem;
    }
  }

  &__userpic {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
  }

  &__owner {
    font-weight: bold;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media {
  padding: 0 2rem;
  margin-bottom: 10rem;

  @include mobile {
    margin-bottom: 5rem;
  }

  &__container {
    max-width: 100rem;
    margin: 0 auto;
  }
}

.case-description {
  padding: 3rem 2rem 0;
  margin-bottom: 5rem;

  &__container {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2.2rem;

    @include mobile {
      font-size: 1.6rem;
    }
  }
}

.product-hero {
  padding: 4rem 2rem;
  margin-bottom: 5rem;

  @include mobile {
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.6rem;
  }

  &__container {
    max-width: 110rem;
    margin: 0 auto;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    @include mobile {
      font-size: 1.6rem;
    }
  }

  &__text {
    padding: 3rem;
    width: 50%;

    @include mobile {
      width: 90%;
    }
  }

  figure {
    margin: 0;
    padding: 2rem 8rem 2rem 0;
    width: 50%;

    @include mobile {
      padding: 3rem;
      width: 100%;
    }
  }
}

.product-features {
  padding: 2rem;
  &__list {
    max-width: 100rem;
    margin: 0 auto;
  }
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    @include mobile {
      flex-direction: column;
      margin-bottom: 7rem;
    }

    &:nth-child(even) {
      .product-features__image {
        order: 2;
      }
      .product-features__text {
        padding-left: 0;
        padding-right: 5rem;
      }
    }
  }

  &__image {
    width: 45%;

    @include mobile {
      order: 1 !important;
    }
  }

  &__text {
    width: 55%;
    padding-left: 5rem;

    @include mobile {
      width: 100%;
      text-align: center;
      padding: 0 !important;
      order: 2 !important;
    }
  }

}

.faq {
  padding: 0 2rem;
  margin-bottom: 10rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;
  }
}

.c-accordion {
  &__title {
    padding: 12px 0 10px 0px;
    cursor: pointer;
    font-size: 1.9rem;
    margin: 0;
    position: relative;

    &::before {
      position:absolute;
      right: 0;
      top: 1.5rem;
      width: 2rem;
      height: 2rem;
      content: "";
      background-image: url(../images/plus.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s, padding 0.4s;

    p {
      margin-bottom: 0.7rem;
      margin-top: 0;
    }
  }

  &__item {
    border-top: solid 1px #000;

    &--is-open {
      .c-accordion__content {
        max-height: 500px;
        padding: 4px 0 15px 0px;
      }

      .c-accordion__title {
        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.sub-hero {
  padding: 0 2rem;
  margin-bottom: 10rem;

  &__container {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }
}

.price {
  padding: 0 2rem;
  margin-bottom: 10rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;
  }

  &__filters {
    display: none;
    margin: 0;
    padding: 0;

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    li {
      cursor: pointer;
      display: block;
      width: 33.33333%;
      text-align: center;
      border: solid 1px red;

      &.selected {
        color: red;
      }
    }
  }
}

.pricelist {
  display: flex;
  justify-content: center;
  margin: 0 -1%;

  &__item {
    border: 1px solid #ECECEC;
    border-radius: 10px;
    width: 32%;
    margin: 0 1%;
    padding: 2.5rem;
    overflow: hidden;
    position: relative;

    @include mobile {
      width: 100%;
      margin: 0;
    }

    &.selected {
      display: block !important;
    }

    &--popular {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
      margin-top: -2rem;

      @include mobile {
        margin-top: 0;
        display: none;
      }

      .pricelist__head {
        background: linear-gradient(180deg, #FFE55B 28.65%, rgba(255, 229, 234, 0) 100%);
      }
    }

    &--basic {
      .pricelist__head {
        background: linear-gradient(180deg, #CEF383 28.65%, rgba(255, 229, 234, 0) 100%);
      }
    }

    &--pro {
      .pricelist__head {
        background: linear-gradient(180deg, #FFB8C5 28.65%, rgba(255, 229, 234, 0) 100%);
      }

      @include mobile {
        display: none;
      }
    }

    ul {
      margin: 0 0 15rem;
      padding: 0;
      list-style: none;

      li {
        line-height: 1.3;
        margin-bottom: 2rem;
        font-weight: 500;

        &.unavailable {
          opacity: 0.3;
        }
      }
    }
  }

  &__head {
    text-align: center;
    padding: 1.5rem 2.5rem 4rem;
    margin: -2.5rem -2.5rem 1rem;

    h2 {
      margin: 0 0 2rem;
    }
    h3 {
      margin: 0 0 1rem;
      font-size: 100px;
      font-weight: 400;
      line-height: 1;
    }
  }

  &__select-holder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.5rem;
  }

  &__select {
    display: block;
    width: 100%;
    border: 1px solid #54DE00;
    border-radius: 8px;
    color: #00C82C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1.5rem;
    background: #fff;

    &:hover {
      border-color: #000;
      color: #000;
    }
  }

  &__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10rem;
    padding: 2.5rem;
    padding-right: 4rem;
    font-style: italic;
    font-size: 1.2rem;
  }
}



